<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="/">VibeWallz</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
    >
      <span class="toggler-line"></span>
      <span class="toggler-line"></span>
      <span class="toggler-line"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ai">AI</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
          >
            Orientations
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item active" href="#"
                ><i class="fas fa-mobile-screen"></i> Portrait</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-desktop"></i> Landscape</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <!-- Search Bar -->
      <div
        class="d-flex flex-grow-1 justify-content-center ms-lg-3 my-2 my-lg-0"
      >
        <form class="d-flex w-100" role="search">
          <input
            class="form-control flex-grow-1 me-2"
            type="search"
            placeholder="Search"
          />
          <button class="btn btn-outline-dark" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <!-- Authentication Links -->
      <div class="navbar-nav ms-lg-3">
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup">Sign up</a>
        <a class="nav-link" href="/login">Login</a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>

      <!-- Upload Button -->
      <div class="d-flex justify-content-end ms-lg-3">
        <form action="/wallpapers/new" method="get">
          <% if(currUser) { %>
          <button class="btn btn-dark" type="submit">Upload</button>
          <% } %>
        </form>
      </div>
    </div>
  </div>
</nav>

<script>
  let dropItems = document.querySelectorAll(".dropdown-item");

  dropItems.forEach((drop) => {
    drop.addEventListener("click", () => {
      dropItems.forEach((item) => item.classList.remove("active"));

      drop.classList.add("active");
    });
  });
</script>
