<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="#">VibeWallz</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
    >
      <span class="toggler-line"></span>
      <span class="toggler-line"></span>
      <span class="toggler-line"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Link1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link2</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
          >
            Orientations
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-mobile-screen"></i> Portrait</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-desktop"></i> Landscape</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <div class="search-form">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" />
          <button class="btn btn-outline-primary" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <div class="ms-auto me-2 mt-md-0 mt-lg-0 mt-3">
        <form class="container-fluid">
          <button class="btn btn-dark w-100" type="button">Upload</button>
        </form>
      </div>
    </div>
  </div>
</nav>
