<% layout("/layouts/boilerplate") %>

<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="text-center m-4">Coming Soon...</h1>
  <a href="/" class="btn btn-primary btn-lg px-5 m-4"> ← Back to Home </a>
</div>
