<% layout("/layouts/boilerplate") %>
<main>
  <div class="container mt-4 mb-5">
    <div class="row g-3" data-masonry='{"percentPosition": true}'>
      <% for(let wallpaper of wallpapers) { %>
      <div class="col-6 col-md-2 col-sm-4">
        <a href="/wallpapers/<%= wallpaper._id %>" class="wallpaper-link">
          <div
            class="card shadow-lg border-0 rounded-4 overflow-hidden position-relative"
            data-orientation="portrait"
          >
            <img
              loading="lazy"
              src="<%= wallpaper.image %>"
              class="card-img-top img-fluid"
              alt="<%= wallpaper.title %>"
              style="object-fit: cover"
            />

            <div class="card-img-overlay"></div>

            <a
              href="<%= wallpaper.image %>"
              download
              class="download-btn btn"
              title="Download wallpaper"
            >
              <i class="fa-solid fa-cloud-arrow-down"></i>
            </a>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</main>

<style>
  .card {
    height: 100%;
  }

  .card-img-top {
    height: 100%;
    position: relative;

    /* loading placeholder */
    background: #f0f0f0;
    min-height: 200px;
  }

  .card[data-orientation="portrait"] img {
    aspect-ratio: 9/16;
  }
  .card[data-orientation="landscape"] img {
    aspect-ratio: 16/9;
  }

  .card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    z-index: 1;
  }

  .download-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    padding: 5px 10px;
    border: none;
    color: white;
    transition: all 0.3s ease;
  }

  .download-btn:hover {
    transform: scale(1.1);
    color: white;
  }

  @media (orientation: portrait) {
    .download-btn {
      font-size: 1.2rem;
      padding: 0.5rem;
    }
  }
</style>
