<% layout("/layouts/boilerplate") %>

<style>
  .container {
    flex: 1;
  }

  .wallpaper-link {
    text-decoration: none;
  }

  .card {
    height: 100%;
  }

  .card-img-top {
    height: 100%;
    position: relative;

    /* loading placeholder */
    background: #f0f0f0;
    min-height: 200px;
  }

  .card[data-orientation="portrait"] img {
    aspect-ratio: 9/16;
  }
  .card[data-orientation="landscape"] img {
    aspect-ratio: 16/9;
  }

  .card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    z-index: 1;
  }

  .card:hover {
    cursor: pointer;
  }

  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none; /* Ensures the pseudo-element does not block interactions */
  }

  .card:hover::after {
    opacity: 0.2;
  }

  .download-btn {
    position: absolute;
    bottom: -30px;
    right: 10px;
    opacity: 0;
    z-index: 2;
    padding: 5px 10px;
    border: none;
    color: white;
    transition: all 0.3s ease;
  }

  .card:hover .download-btn {
    bottom: 10px; /* Move to original position */
    opacity: 1;
  }

  .download-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  @media (orientation: portrait) {
    .download-btn {
      opacity: 1;
      font-size: 1.2rem;
      padding: 0.5rem;
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 2;
      padding: 5px 10px;
      border: none;
      color: white;
      transition: all 0.3s ease;
    }
  }
</style>

<main>
  <div class="container mt-4 mb-5">
    <div class="row g-3" data-masonry='{"percentPosition": true}'>
      <% for(let wallpaper of wallpapers) { %>
      <div class="col-6 col-md-2 col-sm-4">
        <a href="/wallpapers/<%= wallpaper._id %>" class="wallpaper-link">
          <div
            class="card shadow-lg border-0 rounded-4 overflow-hidden position-relative"
            data-orientation="portrait"
          >
            <img
              loading="lazy"
              src="<%= wallpaper.image %>"
              class="card-img-top img-fluid"
              alt="<%= wallpaper.title %>"
              style="object-fit: cover"
            />

            <a
              href="<%= wallpaper.image %>"
              download
              class="download-btn btn"
              title="Download wallpaper"
            >
              <i class="fa-solid fa-cloud-arrow-down"></i>
            </a>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</main>
