<% layout("/layouts/boilerplate") %>
<h3>All Wallpapers</h3>
<ul>
  <% for(let wallpaper of wallpapers) { %>
  <li>
    <a href="/wallpapers/<%= wallpaper._id %>"><%= wallpaper.title %></a>
  </li>
  <% } %>
</ul>
