<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Upload wallpaper</h3>
    <form action="/wallpapers" method="post">
      <input type="url" name="wallpaper[image]" placeholder="Enter image URL" />
      <input type="text" name="wallpaper[title]" placeholder="Enter title" />
      <textarea
        name="wallpaper[description]"
        placeholder="Describe your image"
      ></textarea>
      <input
        type="text"
        name="wallpaper[category]"
        placeholder="e.g. Nature, Abstract, Anime"
      />
      <input
        type="text"
        name="wallpaper[tags]"
        placeholder="e.g. sunset, beach, landscape"
      />
      <button>Upload</button>
    </form>
  </body>
</html>
